body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
  background-color: #f1f1f1;
}

/* Flex */
nav,
.search-container,
.userDP,
.text-content-container,
.all-store {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pointer {
  cursor: pointer;
}

nav {
  background: #1a1a1a;
  padding: 12px 16px;
  gap: 0.4em;
}
.desktop-logo {
  display: none;
}

.search-container {
  background-color: #303030;
  padding: 0 0.8em;
  border-radius: 8px;
  border: 1px solid #616161;
}
.search-container input {
  color: #a4a4a4;
  padding: 8px;
  background: #303030;
  outline: none;
  border: none;
  /* font-size: 16px; */
  width: 100%;
}

.search-container:hover {
  border: 1px solid white;
}
.search-container:focus-within {
  border: 2px solid white;
}
.userDP {
  gap: 0.5em;
}
#userDP:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 1px #000;
}

.notification {
  outline: none;
  border-radius: 10px;
  padding: 0.2em;
}

.notification:hover {
  background: #303030;
}
.notification:focus {
  box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 1px #000;
  background: #656266;
}
.notification:active {
  /* outline: 2px solid #005bd3; */
  background: #656266;
}
.notification-pop-up,
.davii-popup {
  z-index: 1;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid grey;
  position: absolute;
  padding: 1em;
  left: 5%;
  top: 12%;
  right: 5%;
}
.davii-popup {
  margin: 0;
  right: 2%;
  left: 15%;
  padding: 0;
}

/* .show-list-item:hover {
  border-radius: 10px;
  border: 2px solid #005bd3;
} */
.user-menu-buttons p {
  /* padding: 6PX 0; */
  border-radius: 6px;
}
.user-menu-buttons p:hover,
.all-store:hover,
.username div:hover,
.username p:hover {
  background: #e7e7e7;
}
.user-menu-buttons p:focus,
.all-store:focus,
.username div:focus,
.username p:focus {
  border: 2px solid #005bd3;
}
.user-menu-buttons p:active,
.all-store:active,
.username div:active,
.username p:active {
  background: #e0e0e0;
}
.userDP .collection-container .desktop {
  display: none;
}

.userDP .collection-container .mobile,
.box .mobile {
  background: #36fba1;
  padding: 9px 8px;
  font-size: 12px;
  border-radius: 8px;
  color: #22a369;
}

.p-top {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.text-content-container {
  background: #1a1a1a;
  color: white;
  padding: 12px 8px 12px 16px;
  /* padding: 8px 16px; */
  font-size: 13px;
  align-items: flex-start;
}
.text-content-container div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.text-content-container div p {
  margin: 0;
}
.text-content-container div button {
  background: #f7f7f7;
  outline: none;
  border: none;
  padding: 6px 12px;
  border-radius: 6.62px;
  font-size: 13.241px;
  font-weight: 600;
  color: #323232;
}
.text-content-container svg {
  margin-top: 1px;
}

.text-content-container div button:focus {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 1px #fff,
    0px -1px 0px 0px #b5b5b5 inset;
}
.text-content-container div button:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
}
.text-content-container div button:active {
  box-shadow: 0px 2px 1.5px 0px #e2e2e2 inset;
}

.setup-guide-container {
  background-color: #ffffff;
  padding: 0 1em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
.setup-guide-section {
  display: flex;
  justify-content: space-between;
}
.setup-guide-section h1 {
  font-size: 14px;
}
.setup-guide-section p {
  font-size: 13px;
}
.dropdown-icons svg {
  border-radius: 10px;
}
.dropdown-icons svg:hover {
  background: #f1f1f1;
}
.dropdown-icons svg:focus {
  outline: none;
  border: 2px solid #005bd3;
  background-color: transparent;
}
.dropdown-icons svg:active {
  background: #f0f0f0;
}

.progress-checkbox-icon {
  position: relative;
}
.checkedbox {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.setup-guide-container .dropdown-icons svg {
  margin-top: 8px;
  padding: 4px;
}
.progress-bar-container {
  display: flex;
  align-items: center;
  gap: 1em;
}
.progress-bar {
  width: 50%;
  height: 6px;
  background: #e3e3e3;
  border-radius: 5px;
}
.completed {
  background: #000;
  border-radius: 5px;
  width: 0%;
  height: 6px;
}
.shown-dropped-down {
  display: flex;
  gap: 5px;
  /* background: #f3f3f3; */
  border-radius: 15px;
  padding: 5px 10px;
}
.customize-text-container {
  padding-bottom: 1em;
}
.customize-text-container .customize-text {
  margin: 5px 0 0 0;
  padding: 0;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
}
.show-guide {
  font-size: 13px;
}
.customize-text-container a {
  text-decoration: none;
}
.customize-text-container button {
  border-radius: 6px;
  border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  background: #404040;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
    0px 2px 0px 0px #000;
  color: #fff;
  padding: 6px 12px;
  cursor: pointer;
}

.customize-text-container button:focus {
  background: #404040;
  box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 5px #005bd3,
    0px 0px 0px 1.5px #333;
}
.customize-text-container button:hover {
  background: #2a2a2a;
}
.customize-text-container button:active {
  background: #2b2b2b;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset;
}

#dropdown-hide-icon {
  display: none;
}

.hidden {
  display: none;
}
.shown-dropped-down img {
  display: none;
}
/* .userDP svg{
   background: #303030;
  border-radius: 8px;
} */

.userDP .collection-container {
  border-radius: 5px;
}
.userDP .collection-container:hover,
.userDP svg:hover {
  background-color: #616161;
}

.userDP .collection-container:focus {
  padding: 1px;
}

.add-product {
  display: flex;
  gap: 2em;
  align-items: center;
}
.add-product p {
  font-weight: 600;
  color: #616161;
}
.notification-pop-up .flex-notification-pop-up {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.alerts-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.alerts-container h3 {
  font-size: 14px;
  margin: 0;
}
.alerts-container div {
  display: flex;
  gap: 1em;
}
.alerts-container div svg {
  outline: none;
  padding: 4px;
  border-radius: 8px;
}
.alerts-container div svg:focus {
  border: 2px solid #005bd3;
}
.alert-content-container {
  background: #f1f1f1;
  padding: 16px;
}
.alert-content-container p {
  font-weight: 600;
  font-size: 13px;
  text-align: center;
}

.box,
.box .collection-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  justify-content: space-between;
  background-color: #f1f1f1;
  padding: 4px 12px 4px 8px;
  border-radius: 10px;
  margin-bottom: 4px;
}
.all-store {
  justify-content: flex-start;
  gap: 8px;
  padding: 6px;
  border-radius: 6px;
}

.user-menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.all-store p,
.user-menu-buttons p {
  font-size: 13px;
}
.all-store p {
  margin: 0;
}

.collection-name {
  gap: 0.5em;
}

.collection-name h3 {
  margin: 0;
  font-size: 13px;
}
.padding {
  padding: 0.5em;
  border-bottom: 1px solid rgba(158, 158, 158, 0.393);
}
.padding-x-0 {
  padding: 0.5em 3px;
}
.padding-x-0 p {
  margin: 0;
  padding: 6px;
}
.username {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0.5em 3px;
}
.username div {
  display: flex;
  flex-direction: column;
}
.username div h3,
.username p {
  font-size: 13px;
  margin: 0;
}
.username p,
.username div {
  border-radius: 6px;
  padding: 6px;
}
.username div .email {
  color: #616161;
  font-size: 12px;
  padding: 0;
}
.username div h3,
.username div .email {
  margin: 0;
}

/* Desktop View Point */
@media (min-width: 400px) {
  nav {
    justify-content: space-between;
    padding: 0.5em 2em;
  }
  .search-container {
    width: 50%;
    justify-content: start;
  }
  .desktop-logo {
    display: block;
  }
  .mobile-logo {
    display: none;
  }
  .userDP {
    gap: 1em;
  }
  .userDP .collection-container {
    display: flex;
    background: #303030;
    padding: 2px 2px 2px 8px;
    align-items: center;
    color: white;
    gap: 1em;
    border-radius: 10px;
  }

  /* .userDP svg {
    background: #303030;
    padding: 5px;
    border-radius: 10px;
  } */
  .userDP .collection-container:focus {
    padding: 2px 2px 2px 8px;
  }

  .userDP .collection-container .desktop {
    display: block;
    font-size: 12px;
  }
  .p-top {
    width: 50%;
    margin: 0 auto;
    /* background-color: green; */
  }
  .text-content-container {
    justify-content: space-between;
    border-radius: 10px;
    gap: 18px;
    align-items: center;
  }

  .text-content-container div {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .setup-guide-container {
    border: 1px solid rgba(128, 128, 128, 0.392);
    border-radius: 20px;
  }
  .shown-dropped-down img {
    display: block;
  }
  .flex {
    /* background: #000; */
    width: 100%;
    display: flex;
    gap: 6em;
    justify-content: space-between;
  }

  .davii-popup {
    left: 74%;
    top: 10%;
    /* width: 30%; */
    right: 1%;
  }
  .notification-pop-up {
    left: 70%;
    top: 10%;
    right: 1%;
  }
}
